<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assing Student To course</title>
</head>

<body>
    <h1>Assigning Student To course</h1>
    <form action="/admin/assignStudent" method="post">
        Student Id <input type="text" name="txtStudentId" id="txtStudentId" size="30">
        <br>
        CourseId <input type="text" name="txtCourseId" id="txtCourseId" size="30">
        <br>
        <input type="submit" value="Assign">
    </form>
</body>

</html>